body {
  padding: 0 2em 0 2em;
  /* font-family: sans-serif; */
}

#headers {
  padding-left: 1.25em;
}

#headers div {
  display: inline-block;
  margin-right: 1em;
}

#headers button {
  margin-right: 1em;
  padding: 0.25em 0.5em;
}

#counters {
  font-size: 1.15em;
  color: grey;
}

#create-todo {
  padding: .75em;
  margin: 2em 1em 1em 1em;
  width: 40%;
  font-size: 1.2em;
}

.todo-edit-description {
  padding: .75em;
  margin: 2em 1em 1em 1em;
  font-size: 1.2em;
  width: 150%;
}

#todos-container {
  margin-top: 1em;
}

#todos {
  list-style-type: none;
  padding: 0;
  width: fit-content;
}

#todos li {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 1.25em;
  padding-right: 2em;
  padding-left: 1em;
  border: thin white solid;
  border-radius: 1em;
  width: 100%;
}

#todos li.disabled {
  opacity: 50%;
}

#todos li label {
  display: inline-block;
  width: 70%;
}

#todos li:hover {
  border: thin grey solid;
}

#todos .edit-link {
  visibility: hidden;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#todos li:hover .edit-link {
  visibility: visible;
}


#todos li input {
  position: relative;
  top: -1px;
}

#todos li span.delete {
  visibility: hidden;
  color: rgb(140, 40, 40);
  font-family: sans-serif;
  font-size: 0.7em;
}

#todos li:hover span.delete {
  visibility: visible;
  cursor: pointer;
}

/* Animations */
.fade-out.htmx-swapping {
  opacity: 0;
  transition: opacity .25s ease-out;
}

#fade-in.htmx-added {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity .25s ease-out;
}

#todos input[type="checkbox"]:checked ~ label {
 text-decoration: line-through;
 opacity: 50%;
}
