<div id="headers" hx-swap-oob="true">
  <form hx-post="/todos" id="create-todo-form" hx-swap="innerHTML swap:.25s" hx-target="#todos" {% if editable
    %}disabled{% endif %}>
    <input autofocus id="create-todo" type="text" name="description" placeholder="Type your todo here and hit return!"
      {% if editable %}disabled{% endif %} />
  </form>
  <div id="counters" hx-swap-oob="true">
    <p>Total: {{ todos.len() }}, Done: {{ Self::done_count(self) }}, Pending: {{ Self::pending_count(self) }}</p>
  </div>
  <div id="actions">
    <button hx-post="/todos/move_complete_to_bottom" hx-target="#todos" {% if editable || Self::done_count(self) == 0 %}disabled{% endif %}>move done
      to bottom</button>
    <button hx-delete="/todos/delete_completed" hx-target="#todos"
      hx-confirm="Are you sure you want to delete all completed todos?" {% if editable || Self::done_count(self) == 0 %}disabled{% endif %}>archive
      done</button>
  </div>
</div>
{% for todo in todos %}
{{ todo|safe }}
{% endfor %}
