<li id="todo-{{ id }}" class="grow fade-out fade-in {{ ui_state }}">
  <span class="delete" hx-delete="/todos/{{ id }}" hx-target="closest li" hx-swap="delete swap:.5s"><i class="fa-regular fa-trash-can"></i></span>
  <span class="edit-link" hx-get="/todos/{{ id }}/edit" hx-target="#todos" hx-swap="innerHTML"><i class="fa-regular fa-pen-to-square"></i></span>
  {% if ui_state ==  TodoUiState::Editable %}
  <form hx-put="/todos/{{ id }}" hx-swap="innerHTML" hx-target="#todos">
    <input autofocus class="todo-edit-description" type="text" name="description"
      placeholder="Type your todo here and hit return!" value="{{ description }}">
  </form>
  {% else %}
  <input type="checkbox" {% if ui_state == TodoUiState::Disabled %}disabled{% endif %} id="todo-{{ id }}-checkbox" {% if done %}checked{% endif %} name="done"
    hx-put="/todos/{{ id }}" hx-swap="none" hx-include="this">
  <label for="todo-{{ id }}-checkbox">{{ description }}</label>
  <input type='hidden' name='order' value='{{ id }}' />
  {% endif %}
</li>
